
/* common shared styles */
body{
    .nerko-one-regular {
        font-family: "Nerko One", cursive;
        font-weight: 400;
        font-style:italic;
      }
 .text-primary{
    color: orange;
 } 
 
 .primary{
    border-radius: 10px;
    background-color: orange;
    padding: 15px 35px;
    border: 0;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
 }

 .section{
    color: black;
     text-align: center;
     font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
     font-size: 35px;
     font-style: normal;
     font-weight: 700;
line-height: normal;
 }

.section-d{
    color: black;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;

}

 
}
/* nav related styles */
 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .nav{
    margin: 0 200px;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif 
 }
 nav > ul{
    display: flex;
    align-items: center;
 }
 nav li{
    list-style: none;
    margin-right: 50px;
 }
 nav a{
    text-decoration: none;
 }

 /* header related styles */
 .head{
    background-color: rgb(252, 226, 194);
    background-image: url('images/wb.PNG');
 }
 
 .banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
 }

  .banner .profile{
    width: 500px;
 }

/* main section styles */

/* about section styles */
.about{
    padding: 130px;
    border-radius: 10px;
    background: whitesmoke;
    margin: 130px 0px;
}


